@charset "UTF-8";

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

/* リンク（<a>要素）のデコレーションを削除 */
header a {
    text-decoration: none;
}

form {
    text-align: center;
    margin: 20px;
}

/* フォーム内の input 要素のモバイルファーストなスタイリング */

form input {
    margin: 10px 0;
    font-size: large;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.font {
    font-size: 30px;
}

.font-red {
    color: red;
}

/* チェックボックスのスタイリング */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #007BFF;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-bottom: 0px;
}

/* チェックされた状態のスタイリング */
input[type="checkbox"]:checked {
    background-color: #007BFF;
    border-color: #007BFF;
    color: white;
}


/* ボタンのスタイリング */
input[type="button"],
input[type="submit"] {
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
}

/* ホバー時のスタイリング */
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

#info {
    text-align: center;
    padding: 20px;
}

.info-content {
    display: flex;
    flex-direction: column;
    margin: 0 20px; /* フルスクリーン時の両サイドの余白調整 */
}

.info-txt {
    text-align: left;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .info-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .info-txt {
        width: 50%;
        padding-right: 20px;
        margin-bottom: 0;
    }

    img {
        max-width: 40%;
    }

    /* フルスクリーン時の余白調整 */
    .info-content {
        margin: 0 10%;
    }

    /* フルスクリーン時の input 幅調整 */
    form input {
        width: 50%;
    }
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.foot-area_copy {
    display: block;
    margin-top: 10px;
}
